<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    {{>navbar}}
    <main>
        <form action="/login" method="post">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username">
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password">
        <button type="submit">Login</button>
        <a href="/register">Don't have an account</a>
        </form>
    </main>
</body>
</html>